<!DOCTYPE html>
<html>
<head>
    <title>Share</title>
    <link rel="stylesheet" type="text/css" href="static/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        html {
            padding: 0px;
            margin: 0px;
        }
        .date {
            position: relative;
            float: right;
        }
    </style>
</head>
<body style="margin: 30px;">
    <div class="pure-menu">
        <h1>Share</h1>
        <ul class="pure-menu-list">{{ range $name, $path := .name_uri }}
            <li class="pure-menu-item"><a class="pure-menu-link" href="{{ $path }}">{{ $name }}<span class="date">{{ index $.name_date $name }}</span></a></li><br>{{ end }}
        </ul>
    </div>
</body>

</html>
